{% extends "base.html" %}

{% block content %}
<section>
    <div class="container mt-5 mb-5">
        <div class="row justify-content-center mt-5 mb-5">
            <div class="col-md-6 bg-white p-4 mb-5 mt-5 mx-3 rounded custom-shadow">
                <h2 class="text-center mb-4">Пароль изменен.</h2>
                <p>Поздравляем! Пароль успешно изменен. Для входа в систему используй <a href="{% url "users:login" %}">ссылку.</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}