{% extends "base.html" %}

{% block content %}
<section>
    <div class="container mt-5 mb-5">
        <div class="row justify-content-center mt-5 mb-5">
            <div class="col-md-6 bg-white p-4 mb-5 mt-5 mx-3 rounded custom-shadow">
                <h2 class="text-center mb-4">Восстановление пароля</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-error">{{ form.non_field_errors }}</div>
                    {% for f in form %}
                    <p class="form-user mb-2"><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
                    <div class="form-error">{{ f.errors }}</div>
                    {% endfor %}
                    <button type="submit" class="btn btn-dark btn-block">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}